@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@theme {
  --font-mono: var(--font-jetbrains-mono), monospace;
  --font-regular: var(--open-sans), sans-serif;
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-toggle: var(--bg-toggle);
  --color-highlight: var(--highlight);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
}

@layer base {
  .light {
    --background: #fefbf0;
    --primary: #0f0f0f;
    --secondary: #6b6762;
    --bg-toggle: #fefbf0;
    --accent: #f3f0e8;
    --highlight: #e37118;
    --border: #ebe6d9;
    --destructive: #d84035;
    --destructive-foreground: #f8e9e2;
  }

  .dark {
    --background: #100f0f;
    --bg-toggle: #404040;
    --primary: #cec5bb;
    --secondary: #838076;
    --accent: #1c1a18;
    --highlight: #4fa3d1;
    --border: #404040;
    --destructive: #d84035;
    --destructive-foreground: #1f1513;
  }
}

@layer base {
  strong,
  .dark strong,
  .prose strong,
  .prose p > strong,
  .dark .prose strong,
  .dark .prose p > strong {
    color: var(--highlight) !important;
    font-weight: 900;
  }
}
